<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <fieldset style="width: 350px">
                <justify>
                    <h1>ID Card</h1>
                </justify>
                <p>
                    <label>Name : </label>
                    <l th:text="${nama}"></l>
                </p>
                
                <p>
                    <label>Born : </label>
                    <l th:text="${ttl}"></l>
                </p>
                
                <p>
                <img style="float: left; width: 200px" th:src="${gambar}"/>
            </p>
                <br>
            </fieldset>
    </body>
</html>
